@model AppointmentSchedule.Models.Appointment

@{
    ViewBag.Title = "Details";
}

<h2>Appointment details</h2>

<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Worker")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Worker.FullName)
        </dd>

        <dt>
            @Html.Label("Client")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.Label("Date and Time")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AppointmentDateTime)
        </dd>

        <dt>
            @Html.Label("Length in hours")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LengthInHours)
        </dd>

        <dt>
            @Html.Label("Note")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TextBox)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Admin") || User.IsInRole("AppointmentControl"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
        @: |
        @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
        @: |
    }
    @if (User.IsInRole("Admin") || User.IsInRole("AppointmentEnd"))
    {
        @Html.ActionLink("Change Status", "LimitedEdit", new { id = Model.ID })
        @:|
    }
    @Html.ActionLink("worker's schedule", "WorkerSchedule", "Appointment", new { workerId = Model.WorkerID }, null) |
    @Html.ActionLink("Client's appointments", "ClientAppointments", "Appointment", new { clientId = Model.ClientID }, null)

</p>
