@model AppointmentSchedule.Models.Appointment

@{
    ViewBag.Title = "Edit";
}

<h2>Edit appointment</h2>


@using (Html.BeginForm(null, null, FormMethod.Post, new { onsubmit = "return combineDateTime();" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="form-group">
        @Html.LabelFor(model => model.WorkerID, "Worker", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("WorkerID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.WorkerID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ClientID, "Client", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ClientID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClientID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.Status, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
        </div>
    </div>

    <!--makes a date and a time field, then uses the scrip function at the buttom to combine them into the hidden field which is returned to the controller-->
    <div class="form-group">
        @Html.Label("Appointment Date", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            <input type="date" id="appointmentDate" value="@Model.AppointmentDateTime.ToString("yyyy-MM-dd")" class="form-control" />
        </div>
        @Html.Label("Appointment Time", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-4">
            <input type="time" id="appointmentTime" value="@Model.AppointmentDateTime.ToString("HH:mm")" class="form-control" />
        </div>
    </div>

    @Html.HiddenFor(model => model.AppointmentDateTime)

    <div class="form-group">
        @Html.LabelFor(model => model.LengthInHours, "Length", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LengthInHours, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LengthInHours, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TextBox, "Note", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TextBox, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TextBox, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to Details", "Details", new { id = Model.ID })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function combineDateTime() {
            var date = document.getElementById('appointmentDate').value;
            var time = document.getElementById('appointmentTime').value;
            if (date && time) {
                var dateTime = date + ' ' + time;
                document.getElementById('@Html.IdFor(model => model.AppointmentDateTime)').value = dateTime;
                return true; // Ensure the form submits
            }
            alert("Please make sure both the date and time are provided.");
            return false; // Prevent submission if date or time are missing
        }
    </script>
}
