@model IEnumerable<AppointmentSchedule.Models.Appointment>

@{
    ViewBag.Title = "Index";
}

<h2>Appointments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.Label("Client")
        </th>
        <th>
            @Html.Label("Worker")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.Label("Date and Time")
        </th>
        <th>
            @Html.Label("Length in hours")
        </th>
        <th>
            @Html.Label("Note")
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Client.FullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Worker.FullName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Status)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AppointmentDateTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LengthInHours)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TextBox)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
    </td>
</tr>
}

</table>
